body{
background:#f4efe6;
font-family:Arial;
text-align:center;
}

h1{
background:#5a3e2b;
color:white;
padding:15px;
}

.container{
background:#fff8dc;
width:75%;
margin:auto;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}

label{
display:block;
margin-top:10px;
font-weight:bold;
}

input,select{
width:80%;
padding:8px;
margin-top:5px;
}

button{
background:#8b5a2b;
color:white;
padding:10px 20px;
border:none;
margin-top:15px;
cursor:pointer;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
border:1px solid #ccc;
padding:8px;
}

th{
background:#8b5a2b;
color:white;
}

#alertBox{
color:red;
font-weight:bold;
margin-top:10px;
}
